<h1 class="logo preview-logo"><a class="home-link" href="/">Ritly<br>
:)</a></h1>
<p class="sign-in">
	<%= link_to "Sign up", '/sign_up', class: 'login-link'%>
	&nbsp | &nbsp
	<%= link_to "Log in", '/sessions/login', class: 'login-link'%>
</p>
