<%= render partial: 'shorten_form', locals: {initial_text: ""} %>
<h1 class="logo front-logo lower-for-nav">
	Ritly<br>
	:)</h1>
	<p class="sign-in">
		<%= link_to "Sign up", '/users/sign_up', class: 'login-link'%>
		&nbsp | &nbsp
		<%= link_to "Log in", '/sessions/login', class: 'login-link'%>
	</p>
<%= render partial: 'history', locals: {headline: "Recent shrinks"} %>