<div class="navbar navbar-default" role="navigation">
	        <div class="navbar-header">
	          <p class="navbar-brand" href="#"><%= @selected.name %></p>
	        </div>
	        <ul class="nav navbar-nav navbar-right btn-ul">
	        	<% unless @selected.name == "All" %>
		        	<li class="btn-li"><%= button_to "Edit", {action: 'edit', id: @selected }, method: :get, class: 'btn btn-large btn-default' %></li>
					<li class="btn-li"><%= button_to "Delete", {action: "destroy", id: @selected }, method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-large btn-danger' %></li>
				<% end %>
	        </ul>
	    </div>