<title>Popcorn - Find your flicks</title>

<div id="home">
	<div id="container">
		<div class="home-row row">
			<div class="home-center">			
				<h2 id="home-tag">Find your flicks</h2>
				<h1 id="home-logo">Popcorn</h1>
			</div>
		</div>
		<div class="row">
			<div class="home-center">
				<div class="left-inner-addon ">
					<form action="/results" method="POST" id="search-form">
						<div class="col-md-10 col-sm-10">
    						<span class="glyphicon glyphicon-search"></span>
    						<input type="text" name="movie" id="search-box" placeholder="Enter any movie, ever.">
    					</div>
    					<div class="col-md-2 col-sm-2">
    						<button type="button" class="btn btn-lg btn-warning" id="search-button">Search</button>
    					</div>
    				</form>
				</div>
			</div>
		</div>
	</div>
</div>
