/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .lower-for-nav {
	position: relative;
	margin-top: 150px;	
}

#shorten-field {
	border-radius: 0px;
	height: 60px;
	font-size: 175%;
}

#shorten-button {
	border-radius: 0px;
	width: 100%;
	height: 60px;
}

.no-pad {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#peek {
	width: 100%;
	border: none;
	height: 300px;
}

.side-header {
	background-color: #fcf8e3;
	padding: 10px;
	text-align: center;
	border-top: #eea236 solid 3px;
}

.side-body {
	padding: 25px 5px;
	background-color: #f5f5f5;

}

.main-header {
	font-size: 20px;
}

.main-body {

}

#short-box{
	font-size: 30px;
	color: #f0ad4e;
	margin-bottom: 10px;
}

.result-row{
	padding: 20px 0;
	border-top: 1px dotted #4f9fcf;
}

.side {
	font-weight: bolder;
	margin-top: 4px;
}

.visits {
		font-size: 25px;
}

.domain-url {
	font-size: 145%;
	margin-top: 10px;
}

#custom-box {
	float: right;
}

.logo {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 100;
	text-align: center;
	color: #84b4dc;
}

.front-logo {
	font-size: 150px;
}

.preview-logo {
	font-size: 100px;
	margin-top: 100px;
	padding-bottom: 40px;	
}

.home-link{
	text-decoration: none !important;
	color: #84b4dc;
}

.recent-rits {
	background-color: #f5f5f5;
	padding: 20px;
	margin-top: 140px;
}

.table {
	color: #444444;
	font-weight: 300;
}

.table-headline{
	font-weight: lighter;
	font-size: 35px;
	padding-bottom: 10px;
	text-align: center;
}

#url-error {
	padding-top: 60px;
}

.error-alert {
	background-color: #f9f2f4;
	color: #c7254e;
	padding: 15px;
}

.alert-headline{
	margin-top: 10px;
	font-size: 20px;
}

.alert-bullets {
	margin-bottom: 0px;
}

