<div class="header">
	<ul class="nav nav-pills pull-right create-ul">
	  <li><a href="/products/new">Create product</a></li>
	  <li><a href="/categories/new">Create category</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Stu's Store</a></h3>
</div>
