 <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="products/new">Add product</a></li>
          <li><a href="categories/new">Create category</a></li>
        </ul>
        <h3 class="text-muted">Stu's Store</h3>
      </div>
